.poppins-thin {
    font-family:'Poppins', sans-serif;
    font-weight: 100 !important;
}

.poppins-extralight {
    font-family:'Poppins', sans-serif;
    font-weight: 200 !important;
}

.poppins-light {
    font-family:'Poppins', sans-serif;
    font-weight: 300 !important;
}

.poppins-regular {
    font-family:'Poppins', sans-serif;
    font-weight: 400 !important;
}

.poppins-medium {
    font-family:'Poppins', sans-serif;
    font-weight: 500 !important;
}

.poppins-semibold {
    font-family:'Poppins', sans-serif;
    font-weight: 600 !important;
}

.poppins-bold {
    font-family:'Poppins', sans-serif;
    font-weight: 700 !important;
}

.poppins-extrabold {
    font-family:'Poppins', sans-serif;
    font-weight: 800 !important;
}

.poppins-black {
    font-family:'Poppins', sans-serif;
    font-weight: 900 !important;
}

.eb-garamond-regular {
    font-family:'EB Garamond', serif;
    font-weight: 400 !important;
}

.eb-garamond-medium {
    font-family:'EB Garamond', serif;
    font-weight: 500 !important;
}

.eb-garamond-semibold {
    font-family:'EB Garamond', serif;
    font-weight: 600 !important;
}

.eb-garamond-bold {
    font-family:'EB Garamond', serif;
    font-weight: 700 !important;
}

.eb-garamond-extrabold {
    font-family:'EB Garamond', serif;
    font-weight: 800 !important;
}

.inter-thin {
    font-family:'Inter', sans-serif;
    font-weight: 100 !important;
}

.inter-extralight {
    font-family:'Inter', sans-serif;
    font-weight: 200 !important;
}

.inter-light {
    font-family:'Inter', sans-serif;
    font-weight: 300 !important;
}

.inter-regular {
    font-family:'Inter', sans-serif;
    font-weight: 400 !important;
}

.inter-medium {
    font-family:'Inter', sans-serif;
    font-weight: 500 !important;
}

.inter-semibold {
    font-family:'Inter', sans-serif;
    font-weight: 600 !important;
}

.inter-bold {
    font-family:'Inter', sans-serif;
    font-weight: 700 !important;
}

.inter-extrabold {
    font-family:'Inter', sans-serif;
    font-weight: 800 !important;
}

.inter-black {
    font-family:'Inter', sans-serif;
    font-weight: 900 !important;
}